@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Developers Group</title>
    <meta name="description" content="We Subhajit Saha, Souvik Saha, Atanu Roy are 3 friends who are hungry for a mischievous journey. We started to have fun while working together as Dot Net Developers and now we want to continue this adventurous expedition and to become much more technically enrich. Our Contact details are given on this page.">
    <meta name="author" content="Souvik Saha, Atanu Roy, Subhajit Saha">
    <meta name="author" content="Subhajit Saha" />
    <meta name="author" content="Souvik Saha" />
    <meta name="author" content="Atanu roy" />

    <link href="~/Content/MyTemplate/DevPageStyle/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyTemplate/DevPageStyle/animate.css" rel="stylesheet" />
    <link href="~/Content/MyTemplate/css/global/global.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<!-- End Head -->
<body>

    
    <!-- About -->
    <div class="container-fluid g-padding-y-30--xs" style="background-image:url(../../Content/MyTemplate/images/dev_bg.jpg);">

        <!--Souvik-->
        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6 g-margin-b-60--xs g-margin-b-0--md">
                <div class="wow fadeInLeftBig hidden-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/souvik_saha.jpg" alt="Image" style="height:100%;width:100%;">
                </div>
                <div class="wow fadeInLeft visible-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/souvik_saha.jpg" alt="Image" style="height:100%;width:100%;">
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-6 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-100--md g-margin-t-130--lg">
                <div class="row">
                    <h2 style="font-family:Cooper" class="g-font-size-32--xs g-font-size-44--sm g-font-size-55--md g-margin-b-10--xs g-font-weight--700"><b>SOUVIK SAHA</b></h2>
                    <i style="font-family:'Brush Script MT'" class="g-color--blueviolet g-font-size-26--xs g-font-size-34--sm g-font-size-40--md g-margin-b-0--xs">
                         Full Stack Developer<br />
                         Falakata, Alipurduar, West Bengal-735211
                    </i>
                   
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/souvik-saha-21859295/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-o-30--xs"><a target="_blank" href="https://www.linkedin.com/in/souvik-saha-21859295/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>
                    
                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/souvik.saha.3781"><i class="fa-3x fa fa-facebook-official"></i></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://www.facebook.com/souvik.saha.3781"><i class="fa-2x fa fa-facebook-official"></i></a></div>
                    
                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="mailto:souviksaha127@gmail.com"><img style="height:42px;width:38px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="mailto:souviksaha127@gmail.com"><img style="height:29px;width:25px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>

                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=917076900906&text=Hello%20Souvik"><img style="height:42px;width:42px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=917076900906&text=Hello%20Souvik"><img style="height:29px;width:29px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>

                </div>

            </div>

        </div>

        <!--End Souvik-->
        <!--Atanu-->
        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-6 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-100--md g-margin-t-80--lg">
                <div class="row g-margin-r-20--md" style="text-align:right;">
                    <h2 style="font-family:Cooper" class="g-font-size-32--xs g-font-size-44--sm g-font-size-55--md g-margin-b-10--xs g-font-weight--700"><b>ATANU ROY</b></h2>
                    <i style="font-family:'Brush Script MT'" class="g-color--blueviolet g-font-size-26--xs g-font-size-34--sm g-font-size-40--md g-margin-b-0--xs">
                        Full Stack Developer<br />
                        Falakata, Alipurduar, West Bengal-735211
                    </i>
                    
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-4 col-md-2 col-md-offset-4 g-margin-t-20--lg  hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/atanu-roy-7659a112a/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/aryan.roy.77"><i class="fa fa-3x fa-facebook-official"></i></a></div>
                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="mailto:ratanu683@gmail.com"><img style="height:42px;width:38px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>
                    <div class="col-sm-2 col-md-2  g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=918101382333&text=Hello%20Atanu"><img style="height:42px;width:42px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>

                    <div class="pull-right col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=918101382333&text=Hello%20SAtanu"><img style="height:29px;width:29px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>
                    <div class="pull-right col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="mailto:ratanu683@gmail.com"><img style="height:29px;width:25px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>
                    <div class="pull-right col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://www.facebook.com/aryan.roy.77"><i class="fa fa-2x fa-facebook-official"></i></a></div>
                    <div class="pull-right col-xs-2 col-xs-offset-0 visible-xs"><a target="_blank" href="https://www.linkedin.com/in/atanu-roy-7659a112a/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-6">
                <div class="wow fadeInRightBig hidden-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/atanu.jpg" alt="Image">
                </div>
                <div class="wow fadeInRight visible-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/atanu.jpg" alt="Image">
                </div>
            </div>
        </div>
        <!--End Atanu-->
        <!--Subha-->
        <div class="row g-margin-b-60--xs g-margin-b-100--md">
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6 g-margin-b-60--xs g-margin-b-0--md">
                <div class="wow fadeInLeftBig hidden-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/subha.jpg" alt="Image">
                </div>
                <div class="wow fadeInLeft visible-xs" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="img-responsive" src="~/Content/MyTemplate/images/subha.jpg" alt="Image">
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-6 g-margin-t-0--xs g-margin-t-100--sm g-margin-t-100--md g-margin-t-130--lg">
                <div class="row">
                    <h2 style="font-family:Cooper" class="g-font-size-32--xs g-font-size-44--sm g-font-size-55--md g-margin-b-10--xs g-font-weight--700"><b>SUBHAJIT SAHA</b></h2>
                    <i style="font-family:'Brush Script MT'" class="g-color--blueviolet g-font-size-26--xs g-font-size-34--sm g-font-size-40--md g-margin-b-0--xs">
                        Full Stack Developer<br />
                        Falakata, Alipurduar, West Bengal-735211
                    </i>

                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-0 g-margin-t-20--lg hidden-xs"><a target="_blank" href="https://www.linkedin.com/in/subhajit-saha-619650b4/"><i class="fa-3x fa fa-linkedin-square"></i></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-o-30--xs"><a target="_blank" href="https://www.linkedin.com/in/subhajit-saha-619650b4/"><i class="fa-2x fa fa-linkedin-square"></i></a></div>

                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://www.facebook.com/subhajit.sahasubha"><i class="fa-3x fa fa-facebook-official"></i></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://www.facebook.com/subhajit.sahasubha"><i class="fa-2x fa fa-facebook-official"></i></a></div>

                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="mailto:sahasubhajit3009@gmail.com"><img style="height:42px;width:38px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="mailto:sahasubhajit3009@gmail.com"><img style="height:29px;width:25px;" src="~/Content/MyTemplate/images/gmail.png" /></a></div>

                    <div class="col-sm-2 col-md-2 g-margin-t-20--lg g-padding-l-40-lg hidden-xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=918509109700&text=Hello%20Subhajit"><img style="height:42px;width:42px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>
                    <div class="col-xs-2 visible-xs g-margin-l-10--xs"><a target="_blank" href="https://api.whatsapp.com/send?phone=918509109700&text=Hello%20Subhajit"><img style="height:29px;width:29px;" src="~/Content/MyTemplate/images/whatsapp.png" /></a></div>

                </div>

            </div>
        </div>
        <!--End Subha-->
    </div>
    <!-- End About -->
    <!--========== END FOOTER ==========-->
    <!-- Back To Top -->
    <script src="~/Content/MyTemplate/DevPageStyle/jquery.min.js"></script>
    <script src="~/Content/MyTemplate/DevPageStyle/wow.min.js"></script>
    <script src="~/Content/MyTemplate/DevPageStyle/bootstrap.min.js"></script>
    <script src="~/Content/MyTemplate/DevPageStyle/custom.js"></script>
</body>
<!-- End Body -->
</html>
