@{
    ViewBag.Title = "UnderConstruction";
}
<link href="@Url.Content("~/Content/MyTemplate/")vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<div class="container-fluid">
    <div style="height:50px"></div>
    <center><img src="~/Content/MyTemplate/under-construction.gif" style="height:50%;width:50%"/></center>
    <div style="height:50px"></div>
</div>
