@{
    ViewBag.Title = "NotUpdated";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<div style="height:100px;"></div>
<center><h2>Password Not updated</h2></center>
<div style="height:100px;"></div>
